DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_CALLBACK_URL=/auth/redirect
FRONT_END_URL=http://localhost:3001

# Paypal sandbox environment client ID, secret & webhook id
PAYPAL_SBX_CID=
PAYPAL_SBX_CSECRET=
PAYPAL_SBX_WHID=

# Paypal live environment client ID, secret & webhook id
PAYPAL_LIVE_CID=
PAYPAL_LIVE_CSECRET=
PAYPAL_LIVE_WHID=

# JWT secrets
JWT_SECRET=
JWT_REFRESH_SECRET=

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
